/*  Base Guide
  global declaractions
  buttons
  grid system
  input fields
  useful classes
*/
/* Global declarations */
* {
  box-sizing: border-box;
}
header, nav {
  color: $smoky;
  font-family: $font-tech;
  font-size: 1.4em;
  text-align: center;
}
nav ul {
  margin:0;
  padding:0;
}
nav ul li {
  list-style-type: none;
  text-align: center;
  position:relative;
  top: 0;
  right: 0;
  border:solid 1px $smoky;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: $smoky;
  background: $whitish;
  border-bottom:solid 1px $smoky;
}
nav ul.dropdown {
  display:none;
  width: 100%
}
nav ul.dropdown li {
  display: block;
}
nav ul.dropdown li a {
  border: solid 1px #36494e;
}
nav ul li:hover > ul.dropdown {
  display:block;
}
body {
  background: $whitish;
  font-family: $font-read;
  font-size: 1.5em;
  margin: 0 1em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-tech;
  font-weight:normal;
}
h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
}
p {
  line-height: 1.5em;
}
input {
  max-width: 100%
}
div {
  margin: 0.2em 0;
}
blockquote {
  font-style: italic;
}
table {
  margin: 1em;
}
th, td {
  margin: 1.2em 0;
  border-bottom: solid 1px $smoky;
}
th {
  background: $greentea;
  color: $smoky;
}
.scrollx {
  overflow-x: auto;
}
/* Pictures should have borders.  Unless they are logos. */
img {
  border: solid 1px $smoky;
  float: left;
  margin: 0 1em;
}
a:hover {
  background: $sunny;
}
footer {
  font-family: $font-tech;
  margin-top: 1em;
  text-align: center;
  clear: both;
  border-top: solid 1px $smoky;
}

/* buttons */
button,
input[type="submit"],
input[type="rest"],
input[type="button"]  {
  background: $whitish;
  border: solid 1px $smoky;
  border-radius: 50%;
  color: $smoky;
  min-height: 2em;
}
.tech-btn {
  background: $greentea;
  color: $smoky;
  font-family: $font-tech;
}
.rev-btn {
  color: $whitish;
  background: $smoky;
}
button:hover,
input[type="submit"]:hover,
input[type="rest"]:hover,
input[type="button"]:hover,
.tech-btn:hover,
.rev-btn:hover,
.grid_unit:hover {
  color: $smoky;
  background: $sunny;
}
/*  Grid system */
.grid_unit {
  padding: 0.5em;
  background: $greentea;
  color: $smoky;
  margin: 0 0.5em;
  min-height: 1em;
}
/* input fields */
form div {
  margin: 0.2em;
}
legend {
  font-family: $font-tech;
  font-size: 1.5em;
}
textarea {
  max-height: 3.5em;
  line-height: 1.5em;
  padding: 0.25em;
  width: 80%;
}
/* Useful classes to override defaults. */
.border {
  border: solid 1px $smoky;
}
.card {
  background: $greentea;
  margin: 0 1%;
  padding: 0.5%;
  overflow: auto;
}
.center {
  text-align: center;
}
.greenish {
  background: $greentea;
}
/* Use this class for development to display hidden information in a contrasting color.  In production, comment out the color and restore the display */
.hidden {
  background: $brown;
  /* display:none; */
}
.italicize {
  font-style: italic;
}
.logo {
  border: none;
  float: none;
  height: 2em;
  width: auto;
}
.sranger {
  font-family: $font-tech;
}
.yellowish {
  background: $sunny;
}
