/* Fonts from dafont.com */
@font-face {
  font-family: 'spaceranger';
  src: url('./fonts/spaceranger.ttf') format('truetype');
}
@font-face {
  font-family: 'timesans';
  src: url('./fonts/times__.ttf') format('truetype');
}
