/* 2/18/2019  David Churn created */
/* Themed front from dafont.com */
@font-face {
  font-family: 'spaceranger';
  src: url('../fonts/spaceranger.ttf') format('truetype');
}
@font-face {
  font-family: 'timesans';
  src: url('../fonts/timess__.ttf') format('truetype');
}
@font-face {
  font-family: 'windsans';
  src: url('../fonts/wind.ttf') format('truetype');
}
/*  Colors
#0f1108  smoky
#2b243c  metal
#85db4c  kiwi
#f0eff4  sunny
#f0eff4  whitish
*/
/* Global declarations */
* {
  box-sizing: border-box;
}
.center {
  text-align: center;
}
.hidden {
  background: #ffa630;
  /* display:none; */
}
header {
  color: #2b243c;
  font-family: 'spaceranger', serif;
  font-size: 1.4em;
  text-align: center;
}
nav img {
  height: 2em;
  }
nav ul {
  margin:0;
  padding:0;
}
nav ul li {
  list-style-type: none;
  text-align: center;
  position:relative;
  top: 0;
  right: 0;
}
nav ul li a {
  display: block;
  padding: 0.5em 0;
  text-decoration: none;
  color: #2b243c;
  background: #f0eff4;
  border-bottom:solid 1px #f0eff4;
}
nav ul li a:hover {
  color: #f0eff4;
  background: #2b243c;
  border-bottom:solid 1px #f0eff4;
}
nav ul.dropdown {
  display:none;
  position: absolute;
  width: 100%
}
nav ul.dropdown li {
  display: block;
}
nav ul.dropdown li a {
  border: solid 1px #36494e;
}
nav ul li:hover > ul.dropdown {
  display:block;
}

body {
  background: #f0eff4;
  font-family: 'timesans', sans-serif;
  font-size: 1em;
}
main {
  margin: 0 10%;
}
h1 {
  font-family: 'spaceranger', serif;
  font-size: 2em;
  margin: 1em 0;
  text-align: center;
}
h2 {
  font-family: 'spaceranger', serif;
  font-size: 1.8em;
  margin: 1em 0;
}
h3 {
  font-family: 'spaceranger', serif;
  font-size: 1.6em;
  margin: 0.75em 0;
}
h4 {
  font-family: 'spaceranger', serif;
  font-size: 1.4em;
  margin: 0.75em 0;
}
h5 {
  font-family: 'spaceranger', serif;
  font-size: 1.2em;
  margin: 0.5em 0;
}
h6 {
  font-family: 'spaceranger', serif;
  font-size: 1em;
  margin: 0.5em 0;
}
p {
  line-height: 1.5em;
  max-width: 60em;
}
div {
}
ul {
}
ol {
}
blockquote {
  font-family: 'windsans', monospace;
  font-style: italic;
  max-width: 60em;
}
table {
  margin 1em;
}
th, td {
  margin; 1.2em 0;
  border-bottom: solid 1px #0f1108;
}
th {
  background: #85db4c;
  color: #0f1108;
}
img {
  border: solid 1px #0f1108;
}
a {

}
footer {
  font-family: 'spaceranger', serif;
  text-align: center;
}
/*  Grid system */
.grid_unit {
  padding: 0.5em;
  background-color: #85db4c;
  color: #2b243c;
  margin: 0 0.5em;
  min-height: 1em;
}
.row {
  display:flex;
  margin: 1em 0;
}
.flex1 {
  flex:1;
}
.flex2 {
  flex:2;
}
.flex3 {
  flex:3;
}
.flex4 {
  flex:4;
}
.flex5 {
  flex:5;
}
.flex6 {
  flex:6;
}
.flex7 {
  flex:7;
}
.flex8 {
  flex:8;
}
.flex9 {
  flex:9;
}
.flex10 {
  flex:10;
}
.flex11 {
  flex:11;
}
.flex12 {
  flex:12;
}
/* buttons */
button {
  background: #f0eff4;
  border: solid 1px ;
  border-radius: 50%;
  color: #2b243c;
  min-height: 2em;
}
.tech-btn {
  background: #85db4c;
  font-family: 'spaceranger', serif;

}
.rev-btn {
  color: #f0eff4;
  background: #0f1108;
}
