/* 2/18/2019  David Churn created */
/* Futuristic style layout */
/*  Guide
  fonts
  Colors
  global declaractions
  buttons
  grid system
  input fields
  useful classes
*/

/* Fonts from dafont.com */
@font-face {
  font-family: 'spaceranger';
  src: url('../fonts/spaceranger.ttf') format('truetype');
}
@font-face {
  font-family: 'timesans';
  src: url('../fonts/times__.ttf') format('truetype');
}
/*  Colors
#0f1108  smoky
#d1efb5  green tea
#fcfc7e  sunny
#f0eff4  whitish
*/
/* Global declarations */
* {
  box-sizing: border-box;
}
header, nav {
  color: #0f1108;
  font-family: 'spaceranger', serif;
  font-size: 1.4em;
  text-align: center;
}
nav ul {
  margin:0;
  padding:0;
}
nav ul li {
  list-style-type: none;
  text-align: center;
  position:relative;
  top: 0;
  right: 0;
  border:solid 1px #0f1108;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: #0f1108;
  background: #f0eff4;
  border-bottom:solid 1px #0f1108;
}
nav ul.dropdown {
  display:none;
  position: absolute;
  width: 100%
}
nav ul.dropdown li {
  display: block;
}
nav ul.dropdown li a {
  border: solid 1px #36494e;
}
nav ul li:hover > ul.dropdown {
  display:block;
}
body {
  background: #f0eff4;
  font-family: 'timesans', sans-serif;
  font-size: 1em;
}
main {
  margin: 0 10%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'spaceranger', serif;
  font-weight:normal;
}
h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.6em;
}
h3 {
  font-size: 2.2em;
}
h4 {
  font-size: 1.8em;
}
h5 {
  font-size: 1.4em;
}
h6 {
  font-size: 1em;
}
p {
  line-height: 1.5em;
  max-width: 45em;
}
div {
  margin: 0.2em 0;
}
blockquote {
  font-style: italic;
  max-width: 45em;
}
table {
  margin 1em;
}
th, td {
  margin; 1.2em 0;
  border-bottom: solid 1px #0f1108;
}
th {
  background: #d1efb5;
  color: #0f1108;
}
/* Pictures should have borders.  Unless they are logos. */
img {
  border: solid 1px #0f1108;
  float: left;
  margin: 0 1em;
}
a:hover {
  background: #fcfc7e;
}
footer {
  font-family: 'spaceranger', serif;
  margin-top: 1em;
  text-align: center;
  clear: both;
}

/* buttons */
button,
input[type="submit"],
input[type="rest"],
input[type="button"]  {
  background: #f0eff4;
  border: solid 1px #0f1108;
  border-radius: 50%;
  color: #0f1108;
  min-height: 2em;
}
.tech-btn {
  background: #d1efb5;
  color: #0f1108;
  font-family: 'spaceranger', serif;
}
.rev-btn {
  color: #f0eff4;
  background: #0f1108;
}
button:hover,
input[type="submit"]:hover,
input[type="rest"]:hover,
input[type="button"]:hover,
.tech-btn:hover,
.rev-btn:hover,
.grid_unit:hover {
  color: #0f1108;
  background: #fcfc7e;
}
/*  Grid system */
.grid_unit {
  padding: 0.5em;
  background-color: #d1efb5;
  color: #0f1108;
  margin: 0 0.5em;
  min-height: 1em;
}
.row {
  display:flex;
  margin: 1em 0;
}
.flex1 {
  flex:1;
}
.flex2 {
  flex:2;
}
.flex3 {
  flex:3;
}
.flex4 {
  flex:4;
}
.flex5 {
  flex:5;
}
.flex6 {
  flex:6;
}
.flex7 {
  flex:7;
}
.flex8 {
  flex:8;
}
.flex9 {
  flex:9;
}
.flex10 {
  flex:10;
}
.flex11 {
  flex:11;
}
.flex12 {
  flex:12;
}
/* input fields */
form div {
  margin: 0.5em;
}
legend {
  font-family: 'spaceranger', serif;
  font-size: 2em;
}
textarea {
  max-height: 3.5em;
  line-height: 1.5em;
  padding: 0.25em;
  width: 80%;
}
/* Useful classes to override defaults. */
.border {
  border: solid 1px #0f1108;
}
.card {
  background: #d1efb5;
  margin: 0 1%;
  padding: 0.5%;
}
.center {
  text-align: center;
}
.greenish {
  background: #d1efb5;
}
/* Use this class for development to display hidden information in a contrasting color.  In production, comment out the color and restore the display */
.hidden {
  background: orange;
  /* display:none; */
}
.italicize {
  font-style: italic;
}
.logo {
  height: 2em;
  width: auto;
  border: none;
}
.sranger {
  font-family: 'spaceranger', serif;
}
.yellowish {
  background: #fcfc7e;
}
